.breadcrums {
  max-width: 1200px;
  margin: 20px auto;
  padding: 1rem;
}
.breadcrums > * {
  display: inline-block;
  margin-right: 10px;
}
.breadcrums .crum::after {
  content: ">";
  background-color: #333;
  margin-left: 10px;
}
.breadcrums .crum:last-child::after {
  display: none;
}
.breadcrums .crum a {
  color: #fff;
}
